.edit__grid {
  display: grid;
  grid-auto-rows: auto;
  grid-auto-flow: rows;
  align-content: start;
  row-gap: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.edit__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.edit__left-button {
  grid-column: 1;
  align-self: start;
}

.edit__right-button {
  grid-column: 2;
  align-self: end;
}

hr {
  background-color: black;
  width: 100%;
}

.align-left {
  justify-self: center;
}

.horizontal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.align-right {
  justify-self: right;
}

.line-through {
  text-decoration: line-through;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
