body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.heading {
  margin: 2rem auto;
  max-width: 500px;
}

.grid {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, min-content);
  grid-auto-flow: row;
  width: 60wh;
}

.item {
  border-bottom: 1px solid black;
}

.indexGrid {
  padding: 1rem;
  display: grid;
  align-self: start;
  justify-self: stretch;
  grid-template-rows: min-content 1fr;
}

section .name {
  font-size: 1rem;
  grid-column: 1;
}
h1 {
  margin: 0;
  border-bottom: 1px solid gray;
}
.links {
  padding-top: 2rem;
  display: grid;
  grid-auto-flow: columns;
  row-gap: 1rem;
}

h3 {
  margin: 0;
  border-bottom: 1px solid gray;
}

.linkSection {
  display: grid;
  grid-auto-flow: row;
}

/* section .item:last-child {
  border-bottom: 0;
} */

section .institution {
  font-size: 0.8rem;
  color: darkgray;
  grid-column: 2;
}

section .position {
  font-size: 0.8rem;
  grid-column: 2;
}
