.directory_grid {
  display: grid;
  padding-top: 1rem;
  row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, min-content);
  grid-auto-flow: row;
  overflow: auto;
}

.directory_person {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
  row-gap: 0.2rem;
  place-content: center;
}

.directory_name {
  font-size: 1rem;
  grid-column: 1;
  grid-row: 1/4;
  align-self: center;
}

/* section .item:last-child {
  border-bottom: 0;
} */

.directory_institution {
  font-size: 0.8rem;
  grid-column: 2;
}

.directory_position {
  font-size: 0.8rem;
  grid-column: 2;
  color: darkgray;
}

.directory_website {
  font-size: 0.8rem;
  grid-column: 2;
}
