.header {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content;
  align-items: space-between;
  border-bottom: 1px solid darkgray;
  padding-bottom: 0.5rem;
}
.header_link {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
}

.header_text {
  grid-row: 1;
  grid-column: 1/3;
  font-size: 1.5rem;
  margin: 0;
}
