.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(auto, 600px);
  justify-content: center;
  align-items: start;
  max-height: 100vh;
}
