.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--gray2);
  overflow: auto;
  /* max-height: 100vh; */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(auto, 600px);
  justify-content: center;
  align-items: start;
  padding: 1rem;
}
